      <!--<hr class="iframehide">-->
      <div class="jumbotron" style="margin-bottom:0;">
        <h1 class="important">Welcome to GreenVote!</h1>
        <p class="lead">Vote Green. Get Comfortable. Save Energy.</p>
        <%= render 'login' %>       
      </div>        
        <%= render 'form' %>
<!--         <%= render 'activities' %> -->
      </br></br>
    <script src="./Template · Bootstrap_files/jquery.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-transition.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-alert.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-modal.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-dropdown.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-scrollspy.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-tab.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-tooltip.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-popover.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-button.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-collapse.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-carousel.js"></script>
    <script src="./Template · Bootstrap_files/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
        <% if (params.has_key?(:tagId)) then%>
          $('.iframehide').hide();
        <%end%> 
      </script>

<div id="sbi_camera_button" class="sbi_search" style="left: 0px; top: 0px; position: absolute; width: 29px; height: 27px; border: none; margin: 0px; padding: 0px; z-index: 2147483647; display: none;"></div>