<div class="jumbotron">
	<div class="row">
		<div class="span12">
			<img src="assets/GreenVoteLogo7.png" width="500" style="margin-bottom:-25px;"/>
		</div>
	</div>
	<div class="row">
		<div class="span12">
        <p class="lead"><h3>Vote Green. Get Comfortable. Save Energy.</h3></p>
		</div>
	</div>
</div>
	<div class="row" style="margin-bottom:-20px;">
		<div class="span2 important"style="text-align:center;">
		<br><br><h3>About Us</h3>
		</div>
		<div class="span10" style="text-align:center;">
			<div class="well">
			<h4>GreenVote creates a real-time feedback platform that helps institutions optimize the comfort-efficiency balance of facilities based on crowd-sourced sentiment analysis.
			<br><br>Our goal is to become the innovator in aligning user preferences and efficiency goals.</h4>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span2 important"style="text-align:center;">
			<br><br><br><h3>The Team</h3>
		</div>
		<div class="span10">
			<div class="well" style="padding-left: 30px;">
				<div class="row">
						<div class="pull-left span3">
	  						<img src="assets/benedikt.png" alt="" class="thumbnail img-rounded">
	  						<br>
	  						<div class="row">
	  							<div class="span1"></div>
		  						<div class="btn-group span1">
	  								<a href="mailto:blotter123@googlemail.com" target="_blank"><button class="btn" ><i class="icon-envelope"></i></button></a>
	  								<a href="http://www.linkedin.com/pub/benedikt-lotter/39/941/48b" target="_blank"><button class="btn" ><i class="icon-linkedin"></i></button></a>
								</div>
								<div class="span1"></div>
							</div>
	  					</div>
	  					<div class="span6">
	  						<h3 style="text-align:center;">Benedikt Lotter</h3>
	  						<br>
	  						<p>
	  							Benedikit is currently a student in the Jerome Fisher Management and Technology Program at the University of Pennsylvania.
	  							<br><br>
	  							He plans to graduate in 2016 with degrees in Computer Science, Environmental Policy, and Management.
								<br><br>
	  							He has had experience specifically in the Cleantech sector. He also has experience with Web & Mobile Development, Data Visualization and Data Mining.
							</p>
							
						</div>
    				</div>
    				<hr>
    				<div class="row">
	  					<div class="span6" style="">
	  						<h3 style="text-align:center;">Karan Hiremath</h3>
	  						<br>
	  						<p>
	  							Karan is currently a student in the Jerome Fisher Management and Technology Program at the University of Pennsylvania.
	  							<br><br>
	  							He plans to pursue degrees in Computer Science, Management, and Finance and graduate in 2016.
								<br><br>
	  							He has had experience specifically in the Robotics sector and with UI and User experience development. He also has experience with Web & Mobile Development, and has worked in the Philadelphia startup scene.
							</p>

						</div>
						<div class="pull-right span3">
	  						<img src="assets/karan.png" alt="" class="thumbnail img-rounded">
	  						<br>
	  						<div class="row">
	  							<div class="span1"></div>
		  						<div class="btn-group span1">
	  								<a href="mailto:karan.hiremath@gmail.com" target="_blank"><button class="btn"><i class="icon-envelope"></i></button></a>
	  								<a href="http://www.linkedin.com/pub/karan-hiremath/48/896/939/" target="_blank"><button class="btn"><i class="icon-linkedin"></i></button></a>
								</div>
								<div class="span1"></div>
							</div>
	  					</div>
    				</div>
    				<hr>
    				<div class="row">
						<div class=" pull-left span3">
	  						<img src="assets/arjun.png" alt="" class=" thumbnail img-rounded">
	  						<br>
	  						<div class="row">
	  							<div class="span1"></div>
		  						<div class="btn-group span1">
	  								<a href="mailto:arjun.raj.jain@gmail.com" target="_blank"><button class="btn"><i class="icon-envelope"></i></button></a>
	  								<a href="http://www.linkedin.com/pub/arjun-jain/59/686/861/" target="_blank"><button class="btn"><i class="icon-linkedin"></i></button></a>
								</div>
								<div class="span1"></div>
							</div>
	  					</div>
	  					<div class="span6">
	  						<h3 style="text-align:center;">Arjun Jain</h3>
	  						<br>
	  						<p>
	  							Arjun is currently a student in the Jerome Fisher Management and Technology Program at the University of Pennsylvania.
	  							<br><br>
	  							He plans to pursue degrees in Computer Science and Finance and graduate in 2016.
								<br><br>
	  							He has had experience specifically with development in Ruby on Rails. He also has experience with Web & Mobile Development, Database and Product Infrastructure, and UI development.
							</p>
						</div>
    				</div>
				</div>				
		</div>
	</div>
	